alacon.js text eol=lf
alaserver.js text eol=lf

alasql.js binary
alasql.js.map binary
alasql.min.js binary

*.xlsx binary
*.xls binary


# absolute paths are ok, as are globs
#/**/postinst* text eol=lf

# paths that don't start with / are relative to the .gitattributes folder
#relative/path/*.txt text eol=lf


