console/
examples/
lib/
partners/
test/
src/
*.md
.bithoundrc
.codeclimate.yml
.gitattributes
.gitignore
.jshintrc
bower.json
gulpfile.js
inch.json
utils/
.npmignore
.travis.yml
.versions
.eslintrc.yml  
.prettierignore  
.prettierrc  
yarn.lock
tslint.json
